fastapi
uvicorn[standard]
langchain
langgraph
langchain-anthropic
langchain-community
langchain-openai
python-multipart
pydantic
faiss-cpu
langchain-text-splitters
pypdf
websockets
tavily-python
loguru
python-docx
tenacity
python-dotenv
